<!DOCTYPE HTML>
<html>

<%- include('../partials/head', { title: 'Kidamame | Generic Page' }) %>

    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Generic Section -->
            <section class="generic-section">
                <header>
                    <h1>Terms of Service</h1>
                </header>
                <div class="content">
                    <h3>Last updated: 01/01/2025</h3>
                    <p>This is a generic page template. You can populate it with Privacy Policy, Terms, or other
                        content.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam
                        tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc
                        ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non,
                        bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus.
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In
                        non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam
                        tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc
                        ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non,
                        bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus.
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In
                        non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class
                        aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam
                        tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc
                        ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non,
                        bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus.
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In
                        non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel sed vehicula.
                    </p>

                    <ul class="actions">
                        <li><a href="index.html" class="button primary">Back to Home</a></li>
                    </ul>
                </div>
            </section>

            <!-- Footer Section -->
            <section>
                <div class="content">
                    <!-- Empty content div just to maintain spacing if needed, or we can just have footer -->
                </div>
                <%- include('../partials/footer-content') %>
            </section>

            <%- include('../partials/copyright') %>

        </div>

        <%- include('../partials/scripts') %>