<!-- Copyright -->
<div class="copyright"> <span id="dynamic-year">2025</span> KIDAMAME. All rights reserved. <BR />
    KIDAMAME is a trademark of Marco Uberti. Registered office: Via Casarola 13, 24032 Torre de' Busi (BG),
    Italy. VAT number 04896640168 | REA number BG 497369.
</div>