<nav id="nav" class="<% if (locals.alwaysScrolled) { %>always-scrolled scrolled<% } %>">
  <a href="index.html" class="nav-logo">
    <img src="images/k.png" alt="Kidamame" />
    <span class="nav-logo-text">Kidamame<sup>®</sup></span>
  </a>
  <% if (!locals.hideNavItems) { %>
    <ul class="nav-links">
      <li><a href="#mission">Our Mission</a></li>
      <li><a href="#apps">Apps</a></li>
      <li><a href="#values">Values</a></li>
      <li><a href="#footer">Contacts</a></li>
    </ul>
    <a href="https://kidamame.substack.com/subscribe" target="_blank" rel="noopener noreferrer" class="nav-cta"><i
        class="fa-regular fa-envelope"></i> <span class="nav-cta-text">Newsletter</span></a>
    <% } %>
</nav>